.login label {
    display: block;  /* Ensures the label is on a separate line above the input */
    margin-bottom: 5px;  /* Adds space between the label and input */
    font-weight: bold;
}

.login input[type="text"],
.login input[type="password"] {
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #737373;
    border-radius: 10px;
    
}