
.password-reset-confirm label {
    display: block;  
    margin-bottom: 5px;  
    font-weight: bold;
    padding: 10px;
}
.password-reset-confirm input[type="password"] {
    width: 33.333333%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #737373;
    border-radius: 10px;
    
}

.password-reset-confirm span{
    display: none; 
}

.password-reset-confirm ul li{
    display: none; 
}