.profile label {
    display: block;  
    margin-bottom: 5px; 
    font-weight: bold;
}

.profile input[type="text"],
.profile input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #737373;
    border-radius: 10px;
    color: white;
}

.profile span{
    display: none;
}

.profile input[type="file"] {
    padding: 5px;
    margin-top: 5px;
    background-color: #737373;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
}

.profile input[type="file"]::file-selector-button {
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
     
}
.profile label a{
    display: none;
}